.our-services{
    position: relative;
    overflow: hidden;
    padding: 100px 0 80px;
    background-color: #222831;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.our-services .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.services{
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.service-box{
    width: 380px;
    height: 300px;
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-box i {
    border-radius: 35%;
    background-color:#00adb5;
    color:#222831;
    padding: 20px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px 2px rgba(0, 173, 181, 0.2);
}
.our-services h3{
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 600;
    padding: 0.5rem;
   
}
.our-services p{
    color: grey;
}