.discover {
  background-color: #343a40;
  padding: 80px 0;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}

/* Desktop layout */
.collections {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  padding-top: 100px;
}

.box:first-child {
  background: #2e323a;
  border-radius: 10px;
  color: white;
}

.box img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
}

.section-heading {
  font-weight: normal;
  font-size: 48px;
  text-align: center;
  background-image: linear-gradient(
    41deg,
    rgba(0, 173, 181, 1) 32%,
    rgba(0, 181, 103, 1) 95%
  );
  background-clip: text;
  color: transparent;
  margin-bottom: 40px;
  width: 100%;
}

.discover .collections .box {
  width: 400px;
  height: 620px;
  border-radius: 10px;
  overflow: hidden;
  user-select: none;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
}

.discover .collections .txt {
  padding: 20px;
  font-size: 20px;
  background-color: rgb(0 0 0 / 15%);
}
.discover .collections p {
  margin: 10px 50px;
  text-align: justify;
  line-height:  1.6;
}

/* ======================================= */
/* ========== TABLET (≤ 1024px) ========== */
/* ======================================= */
@media (max-width: 1024px) {
  .collections {
    flex-wrap: wrap;
    gap: 30px;
  }

  .discover .collections .box {
    width: 45%;
    height: auto;
  }

  .box img {
    height: 350px;
  }
}

/* ======================================= */
/* ========== MOBILE (≤ 768px) =========== */
/* ======================================= */
@media (max-width: 768px) {
  .discover {
    padding: 60px 0;
  }

  .section-heading {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .collections {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .discover .collections .box {
    width: 90%;
    max-width: 500px;
    height: auto;
  }

  .box img {
    height: 300px;
  }

  .discover .collections .txt {
    font-size: 18px;
  }
}


@media (max-width: 480px) {
  .discover {
    padding: 40px 0;
  }

  .section-heading {
    font-size: 30px;
  }

  .discover .collections .box {
    width: 100%;
    max-width: 380px;
    text-align: center;
  }

  .box img {
    height: 300px;
    width: 250px;
   
  }

  .discover .collections .box .txt {
    font-size: 15px;
    line-height: 1.6;
    text-align: left;
  }
  .discover .collections p {
    margin: 10px 20px;
    text-align: justify;
    line-height:  1.2;
  }
}
@media (max-width: 380px) {
  .discover .collections .box {
    width: 100%;
    max-width: 320px;
  }

  .box img {
    height: 220px;
  }

  .discover .collections .txt  {
    font-size: 14px;
    text-align: left;
  }
  .discover .collections p {
    margin: 10px 20px;
    text-align: justify;
    line-height:  1.6;
  }
}
